.idea/
myvenv/
learninglyrics/learninglyrics/__pycache__/
learninglyrics/lyrics/migrations/__pycache__/
learninglyrics/lyrics/__pycache__/
learninglyrics/quiz/migrations/__pycache__/
learninglyrics/quiz/__pycache__/
learninglyrics/static/components
learninglyrics/account/__pycache__/
learninglyrics/account/__pycache__/forms.cpython-35.pyc
